* {
  box-sizing: border-box;
}

:root {
  --text-purple: rgba(67, 56, 202, 1);
  --text-purple-dark: rgba(79, 70, 229, 1);
  --text-black: rgba(17, 24, 39, 1);
  --text-white-100: rgba(229, 231, 235, 1);
}

body {
  background: url("/static/mesh-gradient.png") no-repeat;
  background-position: 50%;
  background-size: cover;
}